# 单节点 redis url，标准格式 redis://:{password}@{ip}:{port}/{database}
# database 默认为 0

redis_url: redis://:password@1.1.1.1:6379/0


# sentinel url，格式 sentinel://{master_name}:{password}@{sentinel_ip_1}*{sentinel_port_1}+{sentinel_ip_2}*{sentinel_port_2}+.../{database}

sentinel_url: sentinel://master_name:password@1.1.1.1*26379+1.1.1.2*26379/0


# cluster url 格式 cluster://:{password}@{cluster_ip_1}*{cluster_port_1}+{cluster_ip_2}*{cluster_port_2}+.../
# cluster 只有零号数据库

cluster_url: cluster://:password@1.1.1.1*6379+1.1.1.2*6379+1.1.1.3*6379+1.1.1.4*6379+1.1.1.5*6379+1.1.1.6*6379


# 程序运行多少秒后结束，此处为 1000 秒，中间可以 Ctrl+C 结束
run_for_seconds: 1000

